<?php
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

declare(strict_types=1);

use Magento\Framework\Escaper;
use Magento\Framework\View\Element\Template;

// phpcs:disable Generic.Files.LineLength

/** @var Escaper $escaper */
/** @var Template $block */

$image1X = "https://images.unsplash.com/photo-1454111079122-eb76eb2d5754?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMzk2fQ&auto=format&fit=crop&w=500&q=75";
$image2X = "https://images.unsplash.com/photo-1454111079122-eb76eb2d5754?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMzk2fQ&auto=format&fit=crop&w=1024&q=75";
$title = "Hyvä Themes";
$content = "Magento Themes that are good.";
$link = "https://hyva.io/";
$cta = "Visit hyva.io";
?>

<section class="hero-image text-gray-700 body-font -mt-8">
    <div class="relative">
        <div class="container max-w-screen-2xl mx-auto px-0">
            <div class="relative shadow-xl sm:overflow-hidden">
                <div class="absolute inset-0">
                    <picture>
                        <source class="h-full w-full object-cover"
                             srcset="<?= (string) $image1X ?>"
                             media="(max-width: 639px)"
                        >
                        <source class="h-full w-full object-cover"
                             srcset="<?= (string) $image2X ?>"
                             media="(min-width: 640px)"
                        >
                        <img class="h-full w-full object-cover"
                             src="<?= (string) $image2X ?>"
                             alt="Hyvä Hero Image"
                             width="1024"
                             height="576"
                             loading="lazy"
                        >
                    </picture>
                </div>
                <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
                    <h1 class="title-font text-4xl sm:text-5xl mb-2 font-medium text-white" style="text-shadow: 2px 2px 5px black"><?= $escaper->escapeHtml($title) ?></h1>
                    <?php if ($content): ?>
                        <p class="text-2xl sm:text-3xl mb-4 font-medium text-white" style="text-shadow: 2px 2px 5px black"><?= $escaper->escapeHtml($content) ?></p>
                    <?php endif; ?>
                    <a class="btn btn-primary inline-flex" href="<?= $escaper->escapeUrl($link) ?>">
                        <?= $escaper->escapeHtml($cta) ?>
                        <svg class="w-4 h-4 inline-flex self-center ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

