<?php
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

declare(strict_types=1);

use Magento\Framework\Escaper;
use Magento\Framework\View\Element\Template;
use Magento\Search\Helper\Data as SearchHelper;

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundHelper

/** @var Escaper $escaper */
/** @var Template $block */
/** @var SearchHelper $helper */

$helper = $this->helper(SearchHelper::class);
?>

<form class="form minisearch relative" id="search_mini_form"
      action="<?= $escaper->escapeUrl($helper->getResultUrl()) ?>" method="get">
    <label class="hidden" for="search" data-role="minisearch-label">
        <span><?= $escaper->escapeHtml(__('Search')) ?></span>
    </label>
    <input id="search"
           x-ref="searchInput"
           type="search"
           name="<?= $escaper->escapeHtmlAttr($helper->getQueryParamName()) ?>"
           value="<?= $escaper->escapeHtmlAttr($helper->getEscapedQueryText()) ?>"
           placeholder="<?= $escaper->escapeHtmlAttr(__('Search entire store here...')) ?>"
           maxlength="<?= $escaper->escapeHtmlAttr($helper->getMaxQueryLength()) ?>"
           class="w-full order-1 py-2 md:py-1 pl-6 pr-10 text-sm leading-normal transition appearance-none text-grey-800 lg:text-sm rounded-full"
    />
    <!--Search Icon-->
    <button id="menu-search-icon"
            class="absolute top-1/2 right-4" style="transform: translateY(-50%)"
    >
        <span class="sr-only label">
            <?= $escaper->escapeHtml(__('Search')) ?>
        </span>

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 1024 1024" fill="#546a2a">
            <path d="M128 448v-3q0-86.5 42.5-159 42.5-73 115.5-115.5 72.5-42.5 159-42.5h6q86.5 0 159 42.5 73 42.5 115.5 115.5 42.5 72.5 42.5 159v6q0 131-93 224t-224 93h-6q-131 0-224-93t-93-224v-3zM915 1005q19 18 45 18t44.5-18.5 18.5-44.5q0-14-5-24.5-6-13-13-20.5l-199-198q90-117 90-266v-6q0-89.5-35.5-172.5-35-82-95-142t-142-95q-83-35.5-172.5-35.5h-6q-89.5 0-172.5 35.5-82 35-142 95t-95 142q-35.5 83-35.5 172.5v6q0 89.5 35.5 172.5 35 82 95 142t142 95q83 35.5 172.5 35.5h6q149 0 267-90h-1z"></path>
        </svg>
    </button>
</form>
