<?php
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

declare(strict_types=1);

use Magento\Framework\View\Element\Template;
use Magento\Framework\Escaper;

/** @var Template $block */
/** @var Escaper $escaper */
?>
<div class="body-font bg-green-400">
    <div class="container py-12 mx-auto">
        <div class="flex flex-wrap order-first gap-y-16">
            <?= $block->getChildHtml() ?>
        </div>

        <p class="flex justify-center mt-16">
            <img src="<?= /* @escapeNotVerified */ $block->getViewFileUrl('images/logo.svg') ?>"
                 alt="<?= /* @escapeNotVerified */ __('Palais des thés') ?>"
                 width="290"
                 height="50"
                 loading="lazy"
            />

            <p class="text-white text-sm text-center mt-16">© 2021 Palais des Thés</p>
            <p class="text-white text-sm text-center mt-6">
                * Livraison par Colissimo offerte dès 45&nbsp;€ d’achat en France métropolitaine.<br />
                Livraison standard à domicile et en point relais (en 2 à 5 jours ouvrables) à partir de 4,50 €.
            </p>
            <p class="text-white text-sm text-center mt-6">
                **Offres cumulables valables jusqu’au 31 décembre 2021 dans toutes les boutiques Palais des Thés participant à l’opération sur palaisdesthes.com et en vente par correspondance. Dans la limite des stocks disponibles. Montant d’achat déduit de toute remise et hors frais de port.
            </p>
        </div>
    </div>
</div>

