<?php
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

declare(strict_types=1);

use Hyva\Theme\Model\ViewModelRegistry;
use Hyva\Theme\ViewModel\HeroiconsOutline;
use Magento\Framework\Escaper;
use Magento\Framework\View\Element\Template;

/** @var Escaper $escaper */
/** @var Template $block */
/** @var ViewModelRegistry $viewModels */

/** @var HeroiconsOutline $heroicons */
$heroicons = $viewModels->require(HeroiconsOutline::class);

/** @var Hyva\Theme\ViewModel\StoreConfig $storeConfig */
$storeConfig = $viewModels->require(Hyva\Theme\ViewModel\StoreConfig::class);
$showMiniCart = $storeConfig->getStoreConfig(\Magento\Checkout\Block\Cart\Sidebar::XML_PATH_CHECKOUT_SIDEBAR_DISPLAY)
?>
<script>
    function initHeader () {
        return {
            searchOpen: false,
            cart: {},
            getData(data) {
                if (data.cart) { this.cart = data.cart }
            }
        }
    }
    function initCompareHeader() {
        return {
            compareProducts: null,
            itemCount: 0,
            receiveCompareData(data) {
                if (data['compare-products']) {
                    this.compareProducts = data['compare-products'];
                    this.itemCount = this.compareProducts.count;
                }
            }
        }
    }

    function initScrollHeader() {
        return {
            scrollAtTop: true,
            scrollHeaderToggle: function() {
                this.scrollAtTop = (window.pageYOffset > 100) ? false : true;
            }
        }
    }
</script>

<div x-data="initScrollHeader()"
     class="fixed top-0 w-full z-10 transition duration-500"
     :class="{'transform -translate-y-full': !scrollAtTop}"
     @scroll.window="scrollHeaderToggle">
    <!-- Top header -->
    <div class="top-header bg-primary relative z-50 lg:bg-green-500">
        <div class="relative container flex flex-wrap items-center py-4 justify-between">
            <div class="lg:hidden">
                <img src="<?= /* @escapeNotVerified */ $block->getViewFileUrl('images/logo.svg') ?>"
                     alt="<?= /* @escapeNotVerified */ __('Palais Des Thés') ?>"
                     width="195"
                     height="33"
                     loading="lazy"
                />
            </div>

            <div class="ml-right hidden lg:block">
                <a
                    href="#"
                    id=""
                    class="flex items-center"
                >
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 1021 1024" fill="#d6dace">
                        <path d="M483 609q49 0 90-24t65-65 24-89v-2q0-74-52-127.5t-126-55.5h-1q-36.5 0-69 14-33.5 14.5-57 38t-38 57q-14 32.5-14 69 0 49 24 90.5t64.5 67q40 25 89.5 27.5zM183 124q25.5-24 49.5-41 27.5-19.5 55.5-34 29-15 60-25.5 31.5-11 65-16 35.5-5.5 68-5.5 85 0 164.5 34 77.5 33 135.5 90.5 56.5 56 90.5 135 33.5 78 33.5 165.5 0 32-5.5 67.5-4.5 30-15.5 65-9 29.5-25 60.5-13.5 26-34 55-17.5 24.5-42 49l-300 300-300-300q-56-59-87.5-136.5t-31.5-163 31.5-163 88.5-137.5h-1z"></path>
                    </svg>

                    <span class="text-xs text-green-100 uppercase ml-2" style="font-size: 10px;">
                <?= $escaper->escapeHtml(__('Nos boutiques')) ?>
            </span>
                </a>
            </div>

            <!--Search-->
            <div class="w-full order-1 mt-4 sm:mt-0 sm:order-none sm:w-auto sm:ml-auto md:ml-0 md:absolute md:left-1/2 md:transform md:-translate-x-1/2 md:w-80 "
                 id="search-content">
                <?= $block->getChildHtml('header-search'); ?>
            </div>

            <div class="flex justify-end ml-auto sm:ml-0 md:ml-auto"
                 x-data="initHeader()"
                 @keydown.window.escape="searchOpen = false;"
                 @private-content-loaded.window="getData(event.detail.data)"
            >
                <!--Customer Icon & Dropdown-->
                <?= $block->getChildHtml('customer') ?>

                <!--Cart Icon-->
                <a id="menu-cart-icon"
                   <?php if ($showMiniCart): ?>@click.prevent.stop="$dispatch('toggle-cart',{});"<?php endif ?>
                   class="relative flex items-center ml-4 lg:ml-8"
                   href="<?= $escaper->escapeUrl($block->getUrl('checkout/cart/index')) ?>"
                >
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 864 1024" fill="#d6dace">
                        <path d="M672 256v-43q0-55.5-35.5-106-35-49.5-91-78.5-55.5-28.5-113.5-28.5-59 0-119 28.5t-101 78.5-41 106v43h-171v640q0 53 37.5 90.5t90.5 37.5h608q53 0 90.5-37.5t37.5-90.5v-640h-192zM256 213q0-32.5 29.5-63.5 28.5-29.5 70-47.5 40-17 76.5-17 54.5 0 105 38.5 50 38 50 89.5v43h-331v-43zM779 896q0 18-12.5 30.5t-30.5 12.5h-608q-9.5 0-16.5-3.5-8-4-13.5-9.5t-9.5-13.5q-3.5-7-3.5-16.5v-555h694v555z"></path>
                    </svg>

                    <span class="text-xs text-green-100 uppercase ml-2 hidden lg:inline" style="font-size: 10px;">
                        <?= $escaper->escapeHtml(__('Mon panier')) ?>
                    </span>

                    <span x-text="cart.summary_count"
                          class="absolute top-1 left-3 hidden h-5 py-1 -mt-5 -mr-4 text-xs font-semibold
                            leading-none text-center text-white uppercase transform -translate-x-1
                            translate-y-1/2 rounded-full bg-primary"
                          :class="{
                            'hidden': !cart.summary_count,
                            'block': cart.summary_count }"
                          style="background-color: #cbd4bc; color: #546a2a; background-color: #cbd4bc; width: 16px; height: 16px; font-size: 8px;"
                    ></span>
                </a>
            </div>

            <!-- Mobile menu -->
            <?= $block->getChildHtml('topmenu-mobile-main') ?>
        </div>

        <!--Cart Drawer-->
        <?= $block->getChildHtml('cart-drawer'); ?>

        <!--Authentication Pop-Up-->
        <?= $block->getChildHtml('authentication-popup'); ?>
    </div>

    <div id="header"
         class="relative z-30 w-full bg-primary border-container-lighter hidden lg:block">
        <div class="container flex flex-wrap items-center justify-between w-full py-8">
            <div class="w-full flex items-center">
                <!--Logo-->
                <?= $block->getChildHtml('logo'); ?>

                <!--Baseline-->
                <div class="ml-auto">
                    <img src="<?= /* @escapeNotVerified */ $block->getViewFileUrl('images/baseline-FR.svg') ?>"
                         alt="<?= /* @escapeNotVerified */ __('My alternative text') ?>"
                         width="245"
                         height="24"
                         loading="lazy"
                    />
                </div>
            </div>
        </div>
    </div>

    <!--Main Navigation-->
    <?= $block->getChildHtml('topmenu-desktop-main') ?>
</div>
