<?php
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

declare(strict_types=1);

use Magento\Framework\View\Element\Template;
use Magento\Framework\Escaper;

/** @var Template $block */
/** @var Escaper $escaper */
?>

<div class="text-white bg-green-300">
    <div class="container pb-5 pt-7">
        <ul class="flex flex-wrap">
            <li class="w-1/2 md:flex-1 md:w-auto">
                <a class="flex flex-col items-center justify-center"
                   title="Paiement sécurisé"
                   href="https://www.palaisdesthes.com/fr/paiement/">
                    <span class="reassurance-icon">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 993 1024" fill="#FFFFFF">
                            <path d="M640 427v-171q0-106-75-181t-181-75-181 75-75 181v171h-128v597h768v-597h-128zM427 756v97h-86v-97q-42-25-42-74 0-35 25-60t60-25 60 25 25 60q0 49-42 74zM213 427v-171q0-46 23-85.5t62.5-62.5 85.5-23 85.5 23 62.5 62.5 23 85.5v171h-342z"></path>
                        </svg>
                    </span>
                    <span class="inline-block mt-5 text-white text-xs uppercase tracking-widest text-center">
                        Paiement<br>sécurisé
                    </span>
                </a>
            </li>
            <li class="w-1/2 md:flex-1 md:w-auto">
                <a class="flex flex-col items-center justify-center"
                   title="Livraison offerte"
                   href="https://www.palaisdesthes.com/fr/livraison/">
                    <span class="reassurance-icon">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 993 1024" fill="#FFFFFF">
                            <path d="M596 148q-1-2-4-3.5t-4.5-2.5-2.5-2q-9-5-20.5-11.5t-20-12-19.5-12-20.5-12-20-11.5-19.5-12q-15-9-30-1-31 19-65 38t-70 39.5-65 36.5-70 39.5-66 37.5q-8 5-8 6.5t8 6.5q13 8 39 23.5t46 27.5 38 23q13 8 27 0 37-21 74-42.5t93-53 74-41.5q15-9 32.5-19t40-23 33.5-19zM804 275q0-1-1-2t-3-2-3-1q-128-77-136-82-11-7-24 0-39 22-86 49t-80.5 46.5-88.5 51-83 46.5q-9 6-7 9 2 1 7 4 14 8 41.5 24.5t49 29 40.5 24.5q8 5 14.5 5t14.5-5q27-15 168-95 137-77 170-96 6-4 7-6zM473 737v199q0 10 1.5 11t9.5-4q319-179 337-189 11-6 11-19 0-16 0.5-44t0.5-47v-44t1-46v-216q1-10-1-11t-10 4q-22 12-48.5 27t-48.5 27.5-47.5 27-49 27.5-48 27l-49 28t-48.5 27q-11 6-11 21v194zM416 740v-197q0-8-2.5-12.5t-9.5-8.5q-81-49-327-197-14-8-16.5-7t-2.5 18q-1 60-2.5 190t-2.5 198q-1 11 8 16 21 13 344 208 10 6 11 1v-209zM0 670q2-44 2.5-130.5t1.5-123.5q0-24 1-142 0-26 23-39 160-90 405-230 18-10 36 1 202 121 406 243 18 11 18 37 0 40-2 233-2 201-2 237 0 20-18 31-99 56-201 113.5t-206 117.5q-21 12-41 0-175-107-405-245-19-11-18-31v-72z"></path>
                        </svg>
                    </span>
                    <span class="inline-block mt-5 text-white text-xs uppercase tracking-widest text-center">
                        Livraison offerte<br>dès 45€ d'achat
                    </span>
                </a>
            </li>
            <li class="w-1/2 mt-8 md:flex-1 md:w-auto md:mt-0">
                <a class="flex flex-col items-center justify-center"
                   title="4 échantillons offerts"
                   href="https://www.palaisdesthes.com/fr/echantillons-offerts/">
                    <span class="reassurance-icon">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 993 1024" fill="#FFFFFF">
                            <path d="M198 0h1q12 0 21 8.5t9 20.5q0 7-3 12-3 7-12 14t-17.5 12-13.5 15-2 24q2 6 4.5 11t5 9.5 6 9 7 8l7.5 7.5q14 15 21.5 33.5t7.5 39.5v7t-0.5 6.5-1.5 6.5v-1q-3 15-10 28v-1q-9 18-23 30h-1q-17 20-44 23-11-2-18.5-10.5t-7.5-19.5q0-7 3-14 4-6 18.5-15t23-20 4.5-28l-4-10t-4.5-9-5.5-8-6.5-7.5l-7-7t-7-7.5-6.5-7.5-5.5-8-4.5-9.5q-5-9-7-19.5t-2-21.5q0-33 17.5-59t46.5-39zM440 0h2q12 0 20.5 8.5t8.5 20.5l-2 12q-3 7-12.5 14t-17.5 12-13.5 15-2.5 24q3 7 6 13t7 12 8.5 11 9.5 9v1q14 14 21.5 32.5t7.5 39.5q0 9-2 19v-1q-3 15-10 28v-1q-8 17-22 28v1q-1 0-6.5 5t-9 7.5-9 6-11 5-11.5 0.5q-5 0-9.5-3t-8-6.5-5.5-9-2-10.5q0-8 4-15 3-6 12.5-13t17-12 12-15 1.5-23q-9-22-25-38-15-16-24-36l-1-1q-20-47 2.5-85t63.5-55zM689 0h4q6 0 11.5 2t9.5 6 6.5 9.5 2.5 11.5q0 7-3 13-4 8-18 16.5t-22.5 19-4.5 28.5q9 26 29 43v1q10 9 16.5 20.5t10 25 3.5 28.5v4.5t-0.5 4.5-0.5 4.5-1 4.5l-8 24q-9 18-23 32-9 11-22 17.5t-28 6.5q-10-2-16.5-10.5t-6.5-18.5q0-4 1-8t3-7q4-6 18-14.5t22-19 4-27.5-25-41-27-37q-3-8-5-18t-2-21q0-25 11-47t30-36h1q6-5 13.5-9t15.5-7zM830 494q11-1 23-1 10 0 20.5 0.5t20.5 2 19 4.5l-1-1q45 14 71 66t10 112q-4 14-9.5 26.5t-12.5 24.5v-1q-13 20-32 33.5t-43 17.5l-35 1h-66q-3 12-6 22.5t-7 20-9 19.5l1-2q-16 40-38.5 74.5t-50.5 64.5v-1q-23 28-55 43h-1q-11 2-22.5 3t-23.5 1q-14 0-28-1h-270q-4 0-8.5 0.5t-9.5 0.5q-11 0-21.5-1t-20.5-4h1q-48-25-78-68l-1-1q-73-98-98-220l-1-3q-3-13-5.5-28t-4.5-32-4-29q-2-10-3.5-32t-2.5-33l-1-28q-1-15-1-31 0-19 2-37v1q2-27 25-41 6-2 12.5-3.5t13.5-2.5 14-1h7.5t6.5 1h640q46 0 64.5 11.5t18.5 51.5zM758 504l-659 1q-3 234 78 363 22 38 54 66h1q3 4 7.5 7.5t8.5 6.5h1q15 2 32 2 11 0 23-1h255q5 1 10.5 1h21t10-0.5 9.5-1.5h-1l16-13q35-30 58-71l1-1q38-66 56-156.5t18-202.5zM828 567v4q0 51-9 101v-3l-6 37h20q17 1 30.5 1t26-4 18.5-12q19-23 15.5-64t-27.5-55q-7-2-15.5-3l-17-2t-17.5-1q-5 0-9.5 0.5t-9.5 0.5h1z"></path>
                        </svg>
                    </span>
                    <span class="inline-block mt-5 text-white text-xs uppercase tracking-widest text-center">
                        4 échantillons<br>offerts
                    </span>
                </a>
            </li>
            <li class="w-1/2 mt-8 md:flex-1 md:w-auto md:mt-0">
                <a class="flex flex-col items-center justify-center"
                   title="Click &amp; Collect gratuit"
                   href="https://www.palaisdesthes.com/fr/click-and-collect/">
                    <span class="reassurance-icon">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 993 1024" fill="#FFFFFF">
                            <path d="M55.5 487h879.5q6.5 0 8.75 2t2.25 8.5v491.5q0 14.5-10.25 24.75t-24.75 10.25h-224q-1 0-3.5-0.25t-4-0.25q0-1.5-0.25-4t-0.25-4q0-201.5-0.5-241.5 0-1 0.25-2.5t0.25-2q0-49-25.5-90t-67.5-63l-1-0.5q-38.5-22.5-84-22.5-38 0-70 15l1-0.5q-43.5 17.5-72.5 54.25t-35 82.75v1q-2.5 16-2.5 32v236q0 1.5-0.25 4.75t-0.25 5.25h-231q-14.5 0-24.75-10.25t-10.25-24.75v-3q0-46.5 0.25-139.25t0.25-139.25q0-55-0.25-104.5t-0.25-104.5v-11.5zM530 371q-1-35.5-2.25-106.75t-1.75-106.75q-0.5-17.5 4.5-24.75t21-13.25q26-9.5 55.5-9.5 22 0 43 5.5l-1.5-0.5q15 4 31 11.5h-1q14 6.5 15.5 20.5v0.5q6 40 17.75 120.5t17.75 120.5q0.5 2 0.5 7 0 11-6.25 20.5t-16.25 13.5q-30.5 16.5-66.5 16.5-1 0-3-0.25t-2.5-0.25h-4q-36 0-67-13.5h1q-39-17.5-35-52.5v-0.5q0-1-0.25-2t-0.25-2v-4zM908.5 445.5q-0.5 0-1.75 0.25t-2.25 0.25q-40 0-78-17l1.5 0.5q-15.5-6-26.25-18.75t-12.75-29.25v-0.5l-27-147-16.5-87v-3q0-13.5 10.5-19h0.5q18-12.5 38.5-13h0.5q15-2 25-2 33.5 0 64 11.5l-1-0.5q23.5 6.5 31 30.5v0.5q3 10.5 6.75 22.25t8.5 26 7.25 22.25q9 28 26.5 83.5t26.5 83q3 7 3 12.5 0 21-20 29h-0.5q-29.5 15.5-62.5 15.5h-1l-1-0.5h0.5zM84 438h4q43 0 78-16.5l-1.5 0.5q15.5-6 26.25-19t12.75-29.5q0.5-4.5 27-147.5 2.5-14.5 8-43.25t8.5-43.25v-3q0-12.5-10.5-19h-0.5q-19-13-38.5-13.5h-0.5q-11.5-1.5-25-1.5-33.5 0-64 11.5l1-0.5q-23.5 6.5-31 30.5-3 10.5-6.75 22.25t-8.5 26-7.25 22.25l-53 167q-2.5 6-2.5 12.5 0 21.5 19.5 29h0.5q28.5 15 62.5 15h1.5zM465.5 367.5q0.5-35.5 2-107t2-107q0.5-17.5-4.25-24.75t-20.75-13.25q-25-9-56-9-23 0-42.5 5h1q-15 4-31 11.5l1-0.5q-13.5 6.5-15 21-6 40-17.75 120.5t-17.75 121q-1 4-1 7 0 11 6.25 20.25t16.25 13.25l0.5 0.5q29.5 16 66.5 16h9q35 0 67-14l-1 0.5q39.5-18 35.5-52.5v-8.5zM510 889q-19 5.5-39.5 5.5-24.5 0-44.5-6.5h1q29.5 20 64 22h0.5q14-7.5 18.5-20.5v-0.5zM407 820.5q0-5-4-6.5-7.5-2.5-9.75-7.5t0.25-15.5q1 2.5 6.25 6.75t7.25 7.75v-82.5q0-35 25.5-61.5-30 18.5-47.75 48.75t-17.75 66.25q0 49.5 32 87l-0.5-0.5q8.5-18 8.5-38.5v-4zM519.5 886q-4 15-13.5 24.5 27-8.5 37-35.5l0.5-0.5q-11.5 7.5-23 11.5h-1zM442.5 777.5q0-5-4-6.5-7.5-2.5-9.75-7.5t0.25-15.5q1 2.5 6.25 6.75t7.25 7.75v-14.5q0-6-4-7-14-4-9.5-22.5 1 2.5 6.25 6.5t7.25 7.5v-27q0-37.5 30.5-60-25.5 8-41.5 29.5t-16 48.5v82q2-3.5 7.25-7.75t6.25-6.75q2.5 10.5 0.25 15.5t-9.75 7.5q-4 1.5-4 6.5v2.5q0 19-6 36.5l0.5-1q33-24.5 33-65.5 0-1-0.25-2.75t-0.25-2.75v-10zM451 777.5q0-5 4.5-6.5 13.5-4 9-23-1 2.5-6.25 6.75t-7.25 7.75v-14.5q0-6 4.5-7 7.5-2.5 9.5-7.25t-0.5-15.25q-1 2.5-6.25 6.5t-7.25 7.5v-20q0-59 51-70-22 19-23 49-2-3.5-7.25-7.75t-6.25-6.75q-4.5 19 9 23 4.5 1.5 4.5 6.5v66.5q0 72.5-57.5 86.5 29.5-27 29.5-67v-15zM514.5 843.5v-73.5q0-6-4.5-7-7.5-2.5-9.5-7.25t0.5-15.25q1 2.5 6.25 6.5t7.25 7.5v-4q0-29 15.75-52.5t41.75-34l0.5-0.5q-24.5-16-56.5-20h-0.5q-28 15.5-28 48 2-3.5 7.25-7.75t6.25-6.75q4 19-9.5 23-4.5 1.5-4.5 6.5v66.5q0 45.5-21.75 69.5t-59.75 28.5q30 15 65 15 23.5 0 43-6.5l-1 0.5q2-11 2-19v-2.5q0-5.5-4.5-6.5-13.5-4-9-23 1 2.5 6.25 6.75t7.25 7.75zM550.5 816q0-6-4.5-7-7.5-2.5-9.5-7.25t0.5-15.25q1 2.5 6.25 6.5t7.25 7.5v-65.5q0-0.5-0.25-2.25t-0.25-2.75q0-28.5 14.5-53.5v0.5q-19 12-30.5 31.5t-11.5 42.5v3.5q2-3.5 7.25-7.5t6.25-6.5q2.5 10.5 0.5 15.25t-9.5 7.25q-4.5 1.5-4.5 7v73.5q2-3.5 7.25-7.75t6.25-6.75q4.5 19-9 23-4.5 1-4.5 6.5v2q0 11-1 16.5v-0.5q14.5-6 26-15h-0.5q3.5-16 3.5-29v-16.5zM586 763q0-5.5-4-6.5-7.5-2.5-9.75-7.5t0.25-15.5q1 2.5 6.25 6.75t7.25 7.75v-15q0-5-4-6.5-14-4-9.5-22.5 1 2.5 6.25 6.5t7.25 7.5v-14q0-13 5-27v0.5q-0.5-0.5-4-3.5t-5.5-4.5q-23 19.5-23 65.5v65.5q2-3.5 7.25-7.5t6.25-6.5q2.5 10.5 0.5 15.25t-9.5 7.25q-4.5 1.5-4.5 6.5v16q0 11-1.5 21.5l0.5-1q29-32 29-76 0-1-0.25-2t-0.25-2v-9zM594.5 763q0-5.5 4.5-6.5 13.5-4 9-23-1 2.5-6.25 6.75t-7.25 7.75v-15q0-5 4.5-6.5 7.5-2.5 9.5-7.25t-0.5-15.25q-1 2.5-6.25 6.5t-7.25 7.5v-13.5q0-11.5 3-21v0.5q37 38.5 37 92.5 0 47.5-29.5 84t-75 46.5l-1 0.5q20-15.5 25.5-41v-0.5q40-35 40-88.5v-14.5z"></path>
                        </svg>
                    </span>
                    <span class="inline-block mt-5 text-white text-xs uppercase tracking-widest text-center">
                        Click &amp; Collect <br />gratuit
                    </span>
                </a>
            </li>
            <li class="w-1/2 mt-8 md:flex-1 md:w-auto md:mt-0">
                <a class="flex flex-col items-center justify-center"
                   title="Service client"
                   href="https://www.palaisdesthes.com/fr/service-client/">
                    <span class="reassurance-icon">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 993 1024" fill="#FFFFFF">
                            <path d="M594 731l110-100q10-10 23-10 1 0 5 1h-1l19 9 256 119q9 3.5 13 9.5 4 5.5 4.5 10.5 0.5 3.5 0.5 16-2.5 98.5-73 165-76 73-182 73h-10q-138.5-1-259-66l3 2q-144-77.5-257-184l1 1q-74-91.5-133-194l-4-7q-50.5-86.5-89-192l-3-9q-19-70-19-145 0-10 1-30v1q10-79 64-137 75.5-63.5 173-64h1q22 0 36 18l137 256q0.5 1.5 1.25 4t0.75 3q1 3 3 6 3 4 5 6v4q0 13-10 23l-118 110q-7 10-7 22.5 0 12 7 23.5v-1q10.5 18 25 40.5 13 19.5 27 37.5 1.5 2 12 15.25t16 20.25q16.5 20 30 33.5h-1q33 32 69 61.5 40 32.5 74 54.5l4 3q32.5 16 45-10z"></path>
                        </svg>
                    </span>
                    <span class="inline-block mt-5 text-white text-xs uppercase tracking-widest text-center">
                        Service Client<br />01 43 56 90 90
                    </span>
                </a>
            </li>
            <li class="w-1/2 mt-8 md:flex-1 md:w-auto md:mt-0">
                <a class="flex flex-col items-center justify-center"
                   title="Garantie qualité"
                   href="https://www.palaisdesthes.com/fr/engagement/">
                    <span class="reassurance-icon">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 993 1024" fill="#FFFFFF">
                            <path d="M582 938v37q0 9-4 11.5t-12 2.5h-3q-5 0-7-0.5t-4.5-1.5-4-4-1.5-8q1-27 1-60.5v-60.5q0-19-16-26-17-8-22-6.5t-17 15.5q-6 8-13.5 14.5t-15 12-16 9.5-17 7-17.5 5.5-18.5 3.5-19.5 1q-98 4-192-71-94-76-154-217-1-2-27-70-5-12 5-14 80-18 169.5-15.5t166.5 33.5q101 40 149 117 37 59 27 120-1 6 8.5 14.5t15.5 6.5q3-1 3-7v-194q0-8-8-10-112-31-137-166-6-36-6-68t7.5-66 19-64 27.5-62q38-73 105-151 9-10 17-1 118 137 149 267 28 118-15 210-18 39-46 64.5t-68 35.5q-10 2-10 14v189q0 13 11 7 0-1 4-3 10-4 12.5-6t4-7.5-1.5-14.5q-8-50 20-103 11-22 26-40.5t33-34 37.5-27.5 42.5-22q77-35 176-39 71-3 179 14 11 1 8 11-32 94-75 166.5t-109 125.5q-81 65-169 69-29 1-54.5-4t-49-19.5-40.5-38.5q-6-8-14-3h-1l-1 1q-29 13-33.5 20.5t-4.5 39.5v61z"></path>
                        </svg>
                    </span>
                    <span class="inline-block mt-5 text-white text-xs uppercase tracking-widest text-center">
                        Garantie<br />qualité
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>

