<?php
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

declare(strict_types=1);

use Hyva\Theme\Model\ViewModelRegistry;
use Hyva\Theme\ViewModel\Customer;
use Hyva\Theme\ViewModel\UrlBuilder;
use Magento\Framework\View\Element\Template;
use Magento\Framework\Escaper;

/** @var Template $block */
/** @var Escaper $escaper */
/** @var ViewModelRegistry $viewModels */

/** @var Customer $customer */
$customer = $viewModels->require(Customer::class)
?>
<div class="w-full px-4 gap-y-4 flex flex-wrap">
    <div class="w-full md:grid md:grid-cols-4 gap-8 xl:col-span-2">
        <div>
            <h4 class="text-lg font-bold text-white uppercase">
                Palais des Thés
            </h4>
            <ul>
                <li class="mt-2">
                    <a href="https://www.palaisdesthes.com/fr/qui-sommes-nous/"
                       class="text-sm text-white">
                        Qui sommes-nous ?
                    </a>
                </li>
                <li class="mt-2">
                    <a href="https://www.palaisdesthes.com/fr/equipe/"
                       class="text-sm text-white">
                        Une équipe de passionnés
                    </a>
                </li>
                <li class="mt-2">
                    <a href="https://www.palaisdesthes.com/fr/programme-theophile/"
                       class="text-sm text-white">
                        Le programme Théophile
                    </a>
                </li>
                <li class="mt-2">
                    <a href="https://www.palaisdesthes.com/fr/pro/"
                       class="text-sm text-white">
                        Espace clients professionnels
                    </a>
                </li>
                <li class="mt-2">
                    <a href="https://www.palaisdesthes.com/fr/devenir-franchise/"
                       class="text-sm text-white">
                        Devenir Franchisé
                    </a>
                </li>
                <li class="mt-2">
                    <a href="https://www.palaisdesthes.com/fr/partenariat/"
                       class="text-sm text-white">
                        Partenariats
                    </a>
                </li>
                <li class="mt-2">
                    <a href="https://www.palaisdesthes.com/fr/cadeaux-d-affaires/"
                       class="text-sm text-white">
                        Cadeaux d'affaires
                    </a>
                </li>
                <li class="mt-2">
                    <a href="https://www.palaisdesthes.com/fr/engagement/"
                       class="text-sm text-white">
                        Engagement éthique
                    </a>
                </li>
                <li class="mt-2">
                    <a href="https://www.palaisdesthes.com/fr/safetea/"
                       class="text-sm text-white">
                        SafeTea™
                    </a>
                </li>
            </ul>
        </div>

        <div class="mt-4 md:mt-0">
            <h4 class="text-lg font-bold text-white uppercase">
                Commandez en ligne
            </h4>
            <ul>
                <li class="mt-2">
                    <a href="https://www.palaisdesthes.com/fr/faq/"
                       class="text-sm text-white">
                        Aide - FAQ
                    </a>
                </li>
                <li class="mt-2">
                    <a href="https://www.palaisdesthes.com/fr/service-client/"
                       class="text-sm text-white">
                        Service Client
                    </a>
                </li>
                <li class="mt-2">
                    <a href="https://www.palaisdesthes.com/fr/click-and-collect/"
                       class="text-sm text-white">
                        Click &amp; Collect
                    </a>
                </li>
                <li class="mt-2">
                    <a href="https://www.palaisdesthes.com/fr/premiere-visite/"
                       class="text-sm text-white">
                        Première visite
                    </a>
                </li>
                <li class="mt-2">
                    <a href="https://www.palaisdesthes.com/fr/cgv/"
                       class="text-sm text-white">
                        Conditions Générales de Ventes
                    </a>
                </li>
                <li class="mt-2">
                    <a href="https://www.palaisdesthes.com/fr/livraison/"
                       class="text-sm text-white">
                        Livraison
                    </a>
                </li>
                <li class="mt-2">
                    <a href="https://www.palaisdesthes.com/fr/mentions-legales/"
                       class="text-sm text-white">
                        Mentions légales
                    </a>
                </li>
                <li class="mt-2">
                    <a href="https://www.palaisdesthes.com/fr/politique-de-confidentialite/"
                       class="text-sm text-white">
                        Politique de confidentialité
                    </a>
                </li>
                <li class="mt-2">
                    <a href="javascript:Didomi.preferences.show()"
                       class="text-sm text-white">
                        Paramétrer les cookies
                    </a>
                </li>
                <li class="mt-2">
                    <a href="https://www.palaisdesthes.com/fr/sitemap/"
                       class="text-sm text-white">
                        Plan du site
                    </a>
                </li>
            </ul>
        </div>

        <div>
            <ul style="padding-top: 40px;">
                <li>
                    <a href="#" class="flex">
                        <span class="w-8">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 1024 1024" fill="#FFFFFF">
                                <path d="M943 645h41v-237l34-20-509-160-509 160 250 78 262 77 261-78 57-18v-1l113-29v228zM984 720l-14-37-27 37 28 37zM511 636l-248-65-13 47q-4 5-4 11 0 18 51 49t113 55.5 92 24.5 97.5-24.5 123.5-56 56-48.5q0-4-1-9-2-4-3-8l-12-43-250 67h-2zM964 631l61 89-61 89-60-89z"></path>
                            </svg>
                        </span>
                        <span class="text-sm text-white font-bold">
                            <?= $block->escapeHtml(__("L'École du Thé")) ?>
                        </span>
                    </a>
                </li>
                <li class="mt-4">
                    <a href="#" class="flex">
                        <span class="w-8">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 1024 1024" fill="#FFFFFF">
                                <path d="M923 726q-52 4-100.5 12.5t-87.5 20.5-68.5 22.5-59.5 23-43 16.5v-523q33-19 53-28.5t64-25 103.5-25.5 138.5-16v523zM102 726v-523q79 6 138.5 16t103 25.5 63.5 25 54 28.5v523q-10-3-26-9.5t-31.5-12.5-36-14-41.5-15-47-14-52.5-13-58.5-10-66-7zM512 206q-71-42-213.5-68t-298.5-30v715q246 5 470 97 13 8 42 8 28 0 52-12 215-88 460-93l1-715q-101 3-197.5 14.5t-181.5 33.5-134 50z"></path>
                            </svg>
                        </span>
                        <span class="text-sm text-white font-bold">
                            <?= $block->escapeHtml(__("Magazine Bruits de Palais")) ?>
                        </span>
                    </a>
                </li>
                <li class="mt-4">
                    <a href="#" class="flex">
                        <div class="w-8">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 1024 1024" fill="#FFFFFF">
                                <path d="M512.5 416q-63.5 0-108.5 45t-45 108.5 45 109 108.5 45.5 109-45.5 45.5-109-45.5-108.5-109-45zM923 262h-123q-6 0-11-1.5t-9.5-4-8.5-6-7-8-5-9.5l-31-95q-5-13-16-21t-25-8h-348q-14 0-25 8t-16 20l-31 96q-4 8-10 14.5t-14 10.5-17 4h-123q-43 0-73 30t-30 73v461q0 42 30 72t73 31h820q42-1 72-31t30-72v-461q0-43-30-73t-72-30zM513 826q-106 0-181-75t-75-181 75-181 181-75 181 75 75 181q0 69-34.5 128t-93.5 93.5-128 34.5zM887 437q-15 0-25.5-11t-10.5-25.5 10.5-25 25.5-10.5 25.5 10.5 10.5 25-10.5 25.5-25.5 11z"></path>
                            </svg>
                        </div>
                        <div class="text-sm text-white font-bold">
                            <div class="mb-2">
                                <?= $block->escapeHtml(__("Chercheur de Thé")) ?>
                            </div>

                           <div class="text-white" style="font-size: 11px; line-height: 1.2">
                               Découvrez et suivez le blog de<br />
                               François-Xavier Delmas
                           </div>
                        </div>
                    </a>
                </li>
                <li class="mt-4">
                    <a href="#" class="flex">
                        <div class="w-8">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 1024 1024" fill="#FFFFFF">
                                <path d="M480 704c88.352 0 160-71.648 160-160v-384c0-88.352-71.648-160-160-160s-160 71.648-160 160v384c0 88.352 71.648 160 160 160zM704 448v96c0 123.712-100.288 224-224 224s-224-100.288-224-224v-96h-64v96c0 148.224 112 270.304 256 286.208v129.792h-128v64h320v-64h-128v-129.792c144-15.904 256-137.984 256-286.208v-96h-64z"></path>
                            </svg>
                        </div>
                        <div class="text-sm text-white font-bold">
                            <div class="mb-2">
                                <?= $block->escapeHtml(__("Un thé, un voyage")) ?>
                            </div>

                            <div class="text-white" style="font-size: 11px; line-height: 1.2">
                                Les podcasts sur le thé de<br />
                                François-Xavier Delmas
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="mt-8 md:mt-0">
            <p class="text-xs text-white mb-4 text-center" style="font-size: 10px;">
                <?= $block->escapeHtml(__("Palais des Thés réélu meilleur site de l'année par Capital :")) ?>
            </p>

            <img src="<?= /* @escapeNotVerified */ $block->getViewFileUrl('images/logo-palmares-capital-2021.png') ?>"
                 alt="<?= /* @escapeNotVerified */ __('Palmarès Capital - Meilleur site de commerce en ligne') ?>"
                 width="290"
                 height="97"
                 loading="lazy"
                 class="mb-2"
            />

            <ul>
                <li>
                    <a href="" class="btn btn-secondary--white">
                        Boutiques
                    </a>
                </li>
                <li class="mt-2">
                    <a href="" class="btn btn-secondary--white">
                        Carrières
                    </a>
                </li>
                <li class="mt-2">
                    <a href="" class="btn btn-secondary--white">
                        Contactez-nous
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
