<?php
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

declare(strict_types=1);

use Magento\Framework\View\Element\Template;
use Magento\Framework\Escaper;

/** @var Template $block */
/** @var Escaper $escaper */
?>

<div class="text-base uppercase text-green-400 font-bold mb-4 text-center md:text-left" style="color: #738826;">
    <?= $block->escapeHtml(__(' Suivez-nous')) ?>
</div>
<ul class="flex justify-center md:justify-start">
    <li class="">
        <a href="#">
            <span class="sr-only">Facebook</span>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 1024 1024" fill="#546a2a">
                <path d="M384 348h-129v171h129v512h214v-512h155l16-171h-171v-71q0-16 1.5-26.5t7-17.5 15-10 23.5-3h124v-214h-163q-114 0-168 49.5t-54 147.5v145z"></path>
            </svg>
        </a>
    </li>
    <li class="ml-6">
        <a href="#">
            <span class="sr-only">Twitter</span>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 1024 1024" fill="#546a2a">
                <path d="M1025 206q-27 12-57 20t-62 12q16-10 29.5-22t25-26.5 20.5-30.5 15-34q-29 17-62 29t-68 19q-67-64-156-64-1-1-2-1-57 0-105 28t-76 76-28 105q0 12 1.5 24t4.5 23q-129-7-241-64.5t-192-152.5q-29 46-29 104 0 53 25 98t68 73q-51-1-96-26 1 1 1 2 0 75 47.5 132.5t119.5 71.5q-23 8-53 8-21 0-42-4 23 63 77 103t121 41q-114 89-261 89-26 0-52-4 148 94 323 94h10q96 0 186-30t162.5-84.5 127-127 84.5-162.5 30-186q0-7-0.5-14t-0.5-14q61-41 104-104z"></path>
            </svg>
        </a>
    </li>
    <li class="ml-6">
        <a href="#">
            <span class="sr-only">Linked</span>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 1024 1024" fill="#546a2a">
                <path d="M928 0h-832q-40 0-68 28t-28 68v832q0 40 28 68t68 28h832q40 0 68-28t28-68v-832q0-40-28-68t-68-28zM384 832h-128v-448h128v448zM320 320q-26.5 0-45.25-18.75t-18.75-45.25 18.75-45.25 45.25-18.75 45.25 18.75 18.75 45.25-18.75 45.25-45.25 18.75zM832 832h-128v-256q0-26.5-18.75-45.25t-45.25-18.75-45.25 18.75-18.75 45.25v256h-128v-448h128v79.5q58.5-79.5 112-79.5 59.5 0 101.75 46.75t42.25 113.25v288z"></path>
            </svg>
        </a>
    </li>
    <li class="ml-6">
        <a href="#">
            <span class="sr-only">Pinterest</span>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 1024 1024" fill="#546a2a">
                <path d="M939 379q0 111-44 203t-124 146-178 54h-8q-44 0-82-19.5t-63-54.5q-17-23-27 27-4 22-9 77-4 41-6 49-32 94-85 173l2-3q-8-2-16-4.5t-15-5.5-15-6q-6-40-6-85 0-52 9-104 5-20 24.5-100t36.5-149l17-69q-20-43-20-93v-3q0-67 35-112t86-45h2q34 0 58.5 24t24.5 58q0 5-1 9 0 25-9 60t-24 81.5-22 74.5q-1 2-1.5 4t-0.5 4-0.5 4.5-0.5 5v4.5q0 39 28 67t67 28h7q90 0 150-83.5t60-213.5q0-76-35.5-136.5t-99-93.5-144.5-33q-56 0-104.5 15.5t-84.5 42.5-61.5 62.5-38.5 76.5-13 84q0 82 50 148 5 5 5 13 0 3-1 5-3 12-10 41t-8 32q-4 17-23 9-60-27-97.5-101t-37.5-150q0-51 12.5-99.5t37-92.5 63-80.5 86-63 110-41 132.5-14.5q115 0 209.5 48t148.5 134 54 191zM265 1014l4 1q-1 0-2-0.5t-2-0.5z"></path>
            </svg>
        </a>
    </li>
    <li class="ml-6">
        <a href="#">
            <span class="sr-only">Instagram</span>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 1024 1024" fill="#546a2a">
                <path d="M512 98q99 0 132 1t76 2q56 3 95 18 6 3 12.5 6t12.5 6.5 12 7.5 11.5 8.5 10.5 9.5q12 13 22 28t16 31q15 39 18 95 1 43 2 76t1 132q0 141-3 207-2 33-6.5 55t-11.5 40q-7 16-16.5 31t-22 27.5-27.5 22-31 16.5q-39 15-95 18-66 3-207.5 3t-207.5-3q-56-3-95-18-33-13-59-38-25-26-38-59-7-18-11.5-40t-6.5-55q-3-66-3-207.5t3-207.5q3-56 18-95 13-33 38-59 26-25 59-38 39-15 95-18 66-3 208-3h-1zM301 9q-26 1-49 4.5t-40.5 8-34.5 11.5q-52 20-91 59-8 8-15 16t-13.5 17-12 18.5-10 19.5-8.5 20q-20 53-24 124-3 68-3 211.5t3 211.5q2 39 8 68.5t16 55.5q20 52 59 91t91 59q53 20 124 24 68 3 212 3h70t47.5-0.5 36-1 27.5-0.5 30-1q71-4 124-24 34-13 63.5-35t51.5-51.5 35-63.5q10-26 16-55.5t8-68.5q3-68 3-211v-71t-0.5-47.5-1-36-0.5-27.5-1-30q-4-71-24-124-20-52-59-91t-91-59q-53-20-124-24-44-2-78-2.5t-134-0.5h-83.5t-54 0.5-36.5 1-37 1.5zM512.5 255q-71.5 0-132 35.5t-96 96-35.5 132.5q0 53 21 101.5t56.5 84 84 56.5 101.5 21q109 0 186.5-77.5t77.5-185.5q0-72-35.5-132.5t-96-96-132-35.5zM512 689q-46 0-85.5-22.5t-62-62-22.5-85.5q0-71 50-121t120.5-50 120.5 50 50 120.5-50 120.5-121 50v0zM847 245q0 17-8 31t-22 22-31 8-31-8-22-22-8-31 8-31 22-22 31-8 31 8 22 22 8 31z"></path>
            </svg>
        </a>
    </li>
</ul>

