.btn {
    @apply flex bg-gray-500 px-10 py-3 text-white font-medium items-center justify-center uppercase text-sm;
    transition: all .3s;

    svg {
        @apply inline-flex;
    }

    span {
        vertical-align: middle;
    }

    &:hover {
        @apply bg-gray-600;
        transition: all .3s;
    }

    &:focus {
        @apply outline-none border-transparent ring-4 ring-primary ring-opacity-50;
    }
}

.btn-primary {
    @apply bg-primary text-white;

    &:hover {
        @apply bg-primary-lighter text-white;
    }
}

.btn-secondary {
    @apply bg-white border-2 border-primary text-green-400;

    &:hover {
        @apply bg-primary text-white;
    }
}

.btn-secondary--white {
    @apply bg-transparent border-2 border-white text-white;

    &:hover {
        @apply bg-white text-green-400;
    }
}

.btn-tertiary {
    @apply bg-purple-900 text-white;

    &:hover {
        @apply bg-purple-900 text-white;
    }
}

.btn-size-lg {
    @apply px-10 py-4 text-lg;
}

.btn-size-sm {
    @apply px-2 py-2 text-sm;
}
