
.page-product-bundle {
    .price-final_price {
        .price-from,
        .price-to {

            .price-container {
                @apply text-gray-700 block mb-4;

                .price-label {
                    @apply block text-lg font-medium;
                }

                .price {
                    @apply block font-semibold text-2xl text-gray-800 leading-tight;
                }
            }

            .old-price {
                .price-container {
                    .price,
                    .price-label {
                        @apply text-gray-500 font-normal inline text-base;
                    }
                }
            }
        }
    }
}

.product-item-link {
    @apply font-bold text-base text-grey-900 uppercase;
}

.catalog-product-view {
    .columns {
        row-gap: 0;
    }
}
