body {
    @apply bg-white text-grey-400;
}

p,
.prose {
    @apply text-sm text-grey-400;
    line-height: 1.6;
}

#cart-drawer {
    @apply text-black;
}

[x-cloak] {
    display: none;
}

.input {
    @apply w-auto mr-2 border text-base py-2 px-4;

    @screen md {
        @apply mr-4;
    }

    @screen lg {
        @apply mr-0;
    }

    @screen xl {
        @apply mr-4;
    }

    &-light {
        @apply bg-white border-gray-400;

        &:focus {
            @apply outline-none border-primary;
        }
    }
}

.card {
    @apply p-4 rounded-sm bg-container-lighter shadow;
}

.card-interactive {
    &:hover {
        @apply bg-container;
    }
}

.border-title {
    display: flex;
    align-items: center;

    &::before,
    &::after {
        content: "";
        height: 1px;
        background-color: #e1e1e1;
        flex-grow: 1;
    }

    &::before {
        margin-right: 20px;
    }

    &::after {
        margin-left: 20px;
    }
}

.customer-reviews-wrapper {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 100vw;
        transform: translateX(-50%);
        background-color: #f1f4f0;
        z-index: 1;
    }
}

#customer-reviews {
    position: relative;
    z-index: 2;
}

.reassurance-icon {
    display: block;
    position: relative;

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    &::before {
        content: "";
        display: block;
        height: 44px;
        width: 44px;
        background-color: #738826;
        transform: rotate(45deg)
    }
}

.footer-top-inner {
    @screen md {
        display: flex;
    }
}

.footer-top-social {
    @screen md {
        width: 250px;
        @apply border-r;
    }
}
