@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

.text-sans-serif {
    font-family: 'Lato', sans-serif;
}

.text-crimson {
    font-family: 'Crimson Text',Georgia,'Times New Roman',Times,serif;
}

html {
    @apply antialiased;
}

body {
    @apply text-black text-sans-serif leading-normal text-base tracking-normal;
}
