<?php
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

declare(strict_types=1);

use Hyva\Theme\Model\ViewModelRegistry;
use Hyva\Theme\ViewModel\ProductAttributes;
use Hyva\Theme\ViewModel\ProductCompare;
use Hyva\Theme\ViewModel\ProductPage;
use Hyva\Theme\ViewModel\Wishlist;
use Magento\Catalog\Model\Product;
use Magento\Framework\Escaper;
use Magento\Framework\View\Element\Template;

/** @var Template $block */
/** @var Escaper $escaper */
/** @var ViewModelRegistry $viewModels */

/** @var ProductPage $productViewModel */
$productViewModel = $viewModels->require(ProductPage::class);
/** @var ProductAttributes $attributesViewModel */
$attributesViewModel = $viewModels->require(ProductAttributes::class);
/** @var Product $product */
$product = $productViewModel->getProduct();

?>
<div class="order-2 w-full mb-6 md:w-1/2 md:pl-5 md:mb-0">
    <div class="flex">
        <h1 class="text-xl text-crimson uppercase md:text-4xl font-normal text-gray-900 title-font">
            <?= $escaper->escapeHtml($product->getName()) ?>
        </h1>

        <div class="my-2 ml-10 cursor-pointer"
             onclick="document.getElementById('customer-reviews').scrollIntoView({behavior: 'smooth'})">
            <?= $block->getChildHtml('product.info.review') ?>
        </div>
    </div>

    <!-- Fake product attribute -->
    <div class="mb-4 text-grey-100 text-sm">
        <?= $block->escapeHtml(__("Thé noir d'Inde - Récolte du printemps 2021")) ?>
    </div>

    <?php if ($shortDescription = $productViewModel->getShortDescription()) { ?>
        <div class="mb-8 leading-relaxed product-description prose italic text-lg text-grey-500"><?= /* @noEscape */
            $shortDescription ?></div>
    <?php } ?>

    <!-- Fake product attribute -->
    <div class="inline-block">
        <img src="<?= /* @escapeNotVerified */ $block->getViewFileUrl('images/packaging-100g_2.png') ?>"
             alt="<?= /* @escapeNotVerified */ __('Palais des thés') ?>"
             width="58"
             height="58"
             class="border border-purple-900 mb-2"
             loading="lazy"
        />
        <div class="text-center text-xs text-purple-900 font-bold">
            Pochette<br />
            vrac 100g
        </div>
    </div>

    <?= $block->getChildHtml('product.info.form') ?>

    <div class="flex flex-row justify-between items-center mt-8 mb-6">
        <div>
            <?= $block->getChildHtml("product.info.price") ?>
        </div>

        <div class="flex mt-4 sm:mt-0">
            <?php if ($product->isSaleable()): ?>
                <?= $block->getChildHtml("product.info.quantity") ?>
            <?php endif; ?>
        </div>

        <div class="">
            <?= $block->getChildHtml("product.info.stockstatus") ?>
        </div>
    </div>

    <div class="w-full">
        <?= $block->getChildHtml("product.info.addtocart") ?>
    </div>

    <div class="flex justify-between mt-4">
        <?= $block->getChildHtml("alert.urls") ?>
    </div>

    <!-- Start - Fake socials share -->
    <div class="flex justify-between">
        <div class="text-grey-200 text-sm flex-1">
            <?= $block->escapeHtml(__('Livraison Colissimo offerte en France dès 45€ d’achat *')) ?>
        </div>
        <div class="flex ml-4 flex-1 justify-end">
            <span class="text-xs uppercase text-grey-900" style="padding-top: 3px;">
                <?= $block->escapeHtml(__(' Partager sur')) ?>
            </span>
            <ul class="flex">
                <li class="ml-4">
                    <a href="#">
                        <span class="sr-only">Facebook</span>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 1024 1024" fill="#3b2331">
                            <path d="M384 348h-129v171h129v512h214v-512h155l16-171h-171v-71q0-16 1.5-26.5t7-17.5 15-10 23.5-3h124v-214h-163q-114 0-168 49.5t-54 147.5v145z"></path>
                        </svg>
                    </a>
                </li>
                <li class="ml-4">
                    <a href="#">
                        <span class="sr-only">Twitter</span>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 1024 1024" fill="#3b2331">
                            <path d="M1025 206q-27 12-57 20t-62 12q16-10 29.5-22t25-26.5 20.5-30.5 15-34q-29 17-62 29t-68 19q-67-64-156-64-1-1-2-1-57 0-105 28t-76 76-28 105q0 12 1.5 24t4.5 23q-129-7-241-64.5t-192-152.5q-29 46-29 104 0 53 25 98t68 73q-51-1-96-26 1 1 1 2 0 75 47.5 132.5t119.5 71.5q-23 8-53 8-21 0-42-4 23 63 77 103t121 41q-114 89-261 89-26 0-52-4 148 94 323 94h10q96 0 186-30t162.5-84.5 127-127 84.5-162.5 30-186q0-7-0.5-14t-0.5-14q61-41 104-104z"></path>
                        </svg>
                    </a>
                </li>
                <li class="ml-4">
                    <a href="#">
                        <span class="sr-only">Pinterest</span>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 1024 1024" fill="#3b2331">
                            <path d="M939 379q0 111-44 203t-124 146-178 54h-8q-44 0-82-19.5t-63-54.5q-17-23-27 27-4 22-9 77-4 41-6 49-32 94-85 173l2-3q-8-2-16-4.5t-15-5.5-15-6q-6-40-6-85 0-52 9-104 5-20 24.5-100t36.5-149l17-69q-20-43-20-93v-3q0-67 35-112t86-45h2q34 0 58.5 24t24.5 58q0 5-1 9 0 25-9 60t-24 81.5-22 74.5q-1 2-1.5 4t-0.5 4-0.5 4.5-0.5 5v4.5q0 39 28 67t67 28h7q90 0 150-83.5t60-213.5q0-76-35.5-136.5t-99-93.5-144.5-33q-56 0-104.5 15.5t-84.5 42.5-61.5 62.5-38.5 76.5-13 84q0 82 50 148 5 5 5 13 0 3-1 5-3 12-10 41t-8 32q-4 17-23 9-60-27-97.5-101t-37.5-150q0-51 12.5-99.5t37-92.5 63-80.5 86-63 110-41 132.5-14.5q115 0 209.5 48t148.5 134 54 191zM265 1014l4 1q-1 0-2-0.5t-2-0.5z"></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- End - Fake socials share -->

    <!--
    <div>
        <?php foreach ($block->getAttributes() as $attributeConfig) {
            $attribute = $attributesViewModel->getAttributeFromLayoutConfig($attributeConfig); ?>
            <?php if ($value = $attribute['value'] ?? null) { ?>
                <div class="flex py-2 last:mb-6 <?= $attribute['value'] ?: "" ?>">
                    <span class="w-1/2 text-left text-gray-700">
                        <?= $escaper->escapeHtml($attribute['label']) ?>
                    </span>
                    <span class="w-1/2 ml-2 text-left text-gray-900">
                        <?= $escaper->escapeHtml($value) ?>
                    </span>
                </div>
            <?php } ?>
        <?php } ?>
    </div>
    -->

    <?php if ($product->isSaleable()): ?>
        <div class="flex mt-4 justify-end">
            <?= $block->getChildHtml('addtocart.shortcut.buttons') ?>
        </div>
    <?php endif; ?>

    <?php if ($tierPriceBlock = $block->getChildHtml("product.price.tier")): ?>
        <div class="py-4 my-2 tier-price-container">
            <?= /** @noEscape */ $tierPriceBlock ?>
        </div>
    <?php endif; ?>

    <?= $block->getChildHtml("product.info.additional") ?>
</div>
