<?php
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

declare(strict_types=1);

use Hyva\Theme\Model\ViewModelRegistry;
use Hyva\Theme\ViewModel\CurrentProduct;
use Magento\Catalog\Model\Product;
use Magento\Framework\Escaper;
use Magento\Framework\View\Element\Template;

/** @var Template $block */
/** @var Escaper $escaper */
/** @var ViewModelRegistry $viewModels */

/** @var CurrentProduct $currentProduct */
$currentProduct = $viewModels->require(CurrentProduct::class);

/** @var Product $product */
$product = $currentProduct->get();

if (!$product->getId()) {
    return;
}
?>
<div class="text-right">
    <?php if ($product->getIsSalable()): ?>
        <p class="flex items-center justify-end align-middle available gap-x-2 stock"
           title="<?= $escaper->escapeHtmlAttr(__('Availability')) ?>">
            <span><?= $escaper->escapeHtml(__('In stock')) ?></span>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 1024 1024" fill="#3b2331">
                <path d="M1025 248l-643 663-4-4-4 4-374-362 125-120 251 243 530-546z"></path>
            </svg>
        </p>
    <?php else: ?>
        <p class="flex items-center justify-end align-middle gap-x-2 unavailable stock"
           title="<?= $escaper->escapeHtmlAttr(__('Availability')) ?>">
            <span><?= $escaper->escapeHtml(__('Out of stock')) ?></span>
            <span class="w-3 h-3 bg-red-500 rounded-full flex-shrink-0"></span>
        </p>
    <?php endif; ?>
</div>
