.account-nav ul li a, .account-nav ul li strong {
    @apply flex justify-between text-secondary py-1
}

.account-nav ul li a:hover {
    @apply text-black
}

.account-nav ul li strong {
    @apply underline text-black font-normal
}

.actions-toolbar {
    @apply mt-6 border-t border-container-darker pt-4 flex justify-between flex-row-reverse items-center
}


.actions-toolbar .primary button {
    @apply btn btn-primary;
}

.actions-toolbar a.back {
    @apply text-secondary-darker underline
}
