<?php
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

declare(strict_types=1);

/** @var Details $block */
/** @var Escaper $escaper */

use Magento\Catalog\Block\Product\View\Details;
use Magento\Framework\Escaper;

$titleRenderer = $block->getChildBlock('product.section.title.renderer');
$defaultTitleTemplate = $titleRenderer->getTemplate();

?>

<!-- Start - Fake custom description -->
<div class="mb-5">
    <ul class="flex flex-wrap">
        <li class="flex flex-col items-center border px-5 py-7 w-1/2 md:flex-1 md:w-auto">
            <svg class="mb-3" version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 1024 1024" fill="#999999">
                <path d="M801 79v183q0 7-1 13 0 6 0.5 12t0.5 12q0 60-46 115.5t-116 104.5q25 17 46.5 34.5t43.5 40 37.5 45 25 48.5 9.5 51v8.5t-0.5 8-0.5 8.5q0 1 0.5 3t0.5 4.5v187.5q10 0 18 5t13 13.5 5 18-5 18-13 13.5-18 5h-577q-15 0-25.5-11t-10.5-26q0-5 2-10.5t5.5-10 7.5-8 9.5-5.5 11.5-2v-187.5t0.5-4.5 0.5-4q-1-13-1-24 0-107 162-219-162-113-162-220 0-10 1-25-1-5-1-12v-183q-10 0-18-5t-13-13.5-5-17.5q0-15 10.5-26t25.5-11h577q7 0 13.5 3t11.5 8 8 11.5 3 14.5q0 14-10.5 25t-25.5 11zM729 290v-174q0-15-10.5-26t-25.5-11h-361q-15 0-25.5 11t-10.5 26v175l1 2q0 1-1 3v3q0 25 12 50.5t31 46.5 42 40.5 46 34 42.5 25.5 31.5 17l11 6-60 32q-155 95-156 187 0 1 0.5 3t0.5 3q0 2-1 3v174q0 15 10.5 26t25.5 11h361q15 0 25.5-11t10.5-26v-174l-0.5-1t-0.5-2 1-3v-3q0-24-12-49.5t-31-46.5-42-41-46-34.5-42.5-25.5-31.5-17l-11-5 12-6t30.5-16.5 42.5-26 45-34 43-41 30.5-46 12.5-50.5q0-1-0.5-3t-0.5-3 0.5-2zM512 445l-49-27q-95-60-95-119 0-18 5-36 63 36 139 36t142-35q0 2 0.5 8t1 9 1 8.5 0.5 9.5q0 22-15 45.5t-36 41-42.5 31.5-36.5 21zM373 885q-2-9-3.5-18t-1.5-19q0-13 5-26.5t13.5-25 19-22.5 22.5-20.5 24-17.5 23-14.5 19.5-11 13.5-6.5l5-2q5 2 15 7t35 20.5 44 32 34.5 40 15.5 46.5q0 19-6 38z"></path>
            </svg>
            <strong class="uppercase text-grey-900 font-bold text-sm">Temps d'infusion</strong>
            <br />
            <span class="uppercase text-grey-200 font-normal text-sm">3'45</span>
        </li>
        <li class="flex flex-col items-center border px-5 py-7 w-1/2 md:flex-1 md:w-auto" style="margin-left: -1px;">
            <svg class="mb-3" version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 1024 1024" fill="#999999">
                <path d="M803 963q0 28-20 48t-48 20h-445q-28 0-48-20t-20-48l-102-889q0-28 20-48t48-20h649q28 0 48 20t20 48zM188 74l102 889h445l102-889h-649zM359 894l-69-512h445l-69 512h-307zM615 450h-205q-3 0-6.5 1.5t-5.5 3.5-3.5 5.5-1.5 6.5q0 7 5 12t12 5h205q5 0 9-2t6-6 2-9q0-7-5-12t-12-5zM615 587h-205q-7 0-12 5t-5 12 5 12 12 5h205q5 0 9-2.5t6-6 2-8.5q0-7-5-12t-12-5zM615 724h-205q-7 0-12 5t-5 12 5 12 12 5h205q5 0 9-2.5t6-6.5 2-8q0-7-5-12t-12-5zM615 348h-205q-7 0-12-5t-5-12 5-12 12-5h205q3 0 5.5 0.5t4.5 2 3.5 4 2.5 5 1 5.5q0 7-5 12t-12 5zM615 211h-205q-5 0-9-2.5t-6-6-2-8.5q0-7 5-12t12-5h205q5 0 9 2t6 6 2 9q0 7-5 12t-12 5z"></path>
            </svg>
            <strong class="uppercase text-grey-900 font-bold text-sm">Dosage</strong>
            <br />
            <span class="uppercase text-grey-200 font-normal text-sm">6g / 30cl</span>
        </li>
        <li class="flex flex-col items-center border px-5 py-7 w-1/2 md:flex-1 md:w-auto" style="margin-left: -1px;">
            <svg class="mb-3" version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 1024 1024" fill="#999999">
                <path d="M722 138h-2q-14 0-26-5t-21-14-14-21-5-25.5 5-26 14-21.5 21-14 26-5q27 0 46.5 19.5t19.5 46.5v1q0 13-5 25t-14 21-20.5 14-24.5 5zM722 39h-1q-9 0-17 4.5t-12 12-4 16.5q0 14 9.5 23.5t23.5 9.5q9 0 16.5-4.5t12-12 4.5-16.5v0q0-9-4.5-16.5t-12-12-15.5-4.5zM722 783v7q0 39-12.5 76t-34.5 66.5-52 52-66.5 34.5-76.5 12q-100 0-170.5-70.5t-70.5-170.5v-8q0-46 16-88t44.5-75 67.5-54l1-443v-7q0-47 33-80t79-33q19 0 36 6t31 16 24.5 24 16 31.5 5.5 35.5v449q59 33 94 91t35 127v1zM529 609v-489q0-10-4-19t-10.5-15.5-15.5-10-19-3.5q-20 0-34 14t-14 34v489q-57 16-93 63t-36 107q0 73 52 125t125.5 52 125-52 51.5-125q0-60-35.5-107t-91.5-63h-1zM480 899q-47-1-79.5-35t-32.5-81q0-42 27-74.5t69-39.5v-250q0-7 5-11.5t11.5-4.5 11 4.5 4.5 11.5v250q42 7 69 39.5t27 74.5q0 47-32.5 80.5t-78.5 35.5h-1z"></path>
            </svg>
            <strong class="uppercase text-grey-900 font-bold text-sm">Température d'infusion</strong>
            <br />
            <span class="uppercase text-grey-200 font-normal text-sm">85°C - 185°F</span>
        </li>
        <li class="flex flex-col items-center border px-5 py-7 w-1/2 md:flex-1 md:w-auto" style="margin-left: -1px;">
            <svg class="mb-3" version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 1024 1024" fill="#999999">
                <path d="M512.5 279q99.5 0 169.5 70t70 169.5-70 169.5-169.5 70-169.5-70-70-169.5 70-169.5 169.5-70zM512.5 6q14.5 0 24.5 10t10 24v103q0 14-10 24t-25 10q-9 0-17-4.5t-12.5-12.5-4.5-17v-103q0-14 10-24t24.5-10zM512.5 860q14.5 0 24.5 10t10 24v103q0 7-3 13t-7.5 11-11 7.5-13.5 2.5q-9 0-17-4.5t-12.5-12.5-4.5-17v-103q0-14 10-24t24.5-10zM875 156q10 10 10 24 0 5-1.5 9.5t-3.5 8-5 6.5l-73 73q-10 10-24 10t-24-10-10-24 10-24l73-73q10-10 24-10 7 0 13 2.5t11 7.5zM271 760q10 10 10 24t-10 24l-73 73q-9 10-23 10-7 0-13.5-3t-11-7.5-7-11-2.5-13.5q0-4 1-8.5t3-8 5-6.5l73-73q10-10 24-10t24 10zM1026 518q0 14-10 24t-25 10h-102q-14 0-24-10t-10-24 10-24 24-10h102q7 0 13.5 3t11 7.5 7.5 10.5 3 13v0zM171 518q0 14-10 24t-24 10h-102q-7 0-13.5-2.5t-11-7-7-11-2.5-13.5q0-14 10-24t24-10h102q14 0 24 10t10 24v0zM876 880q-3 4-7 6t-8.5 3-8.5 1q-15 0-25-10l-72-72q-10-10-10-24t10.5-24 24.5-10q13 0 23 10l73 72q3 3 5 7t3.5 8.5 1.5 8.5-1 7-2 6.5-3 6-4 4.5zM271.5 276.5q-4.5 4.5-10.5 7t-13 2.5-13.5-2.5-11.5-7.5l-72-72q-2-2-4-5t-3.5-6-2-6.5-0.5-7.5q0-14 10-24t24-10 24 11l73 72q4 5 7 11t3 13-3 13.5-7.5 11z"></path>
            </svg>
            <strong class="uppercase text-grey-900 font-bold text-sm">Moment de la journée</strong>
            <br />
            <span class="uppercase text-grey-200 font-normal text-sm">Toute la journée</span>
        </li>
    </ul>
</div>
<!-- End - Fake custom description -->

<div class="container-md px-0">
<?php
foreach ($block->getGroupSortedChildNames('detailed_info', '') as $sectionName) {
    $sectionBlock  = $block->getLayout()->getBlock($sectionName);
    $sectionHtml   = (string) $sectionBlock->toHtml();
    $titleTemplate = $sectionBlock->getData('title_template') ?? $defaultTitleTemplate;

    if (empty(trim($sectionHtml))) {
        continue;
    }
    ?>
    <section id="<?= $escaper->escapeHtmlAttr($sectionBlock->getNameInLayout()) ?>">
        <?=
            $titleRenderer->setTemplate($titleTemplate)
                          ->assign('sectionBlock', $sectionBlock)
                          ->toHtml()
        ?>
        <div class="w-full border-b pb-7">
            <?= /** @noEscape  */ $sectionHtml ?>
        </div>
    </section>
<?php } ?>
</div>

<!-- Start - Fake custom description -->
<div class="container-md px-0">
    <div class="pt-6">
        <h2 class="w-full pb-3 text-gray-900 text-2xl title-font font-bold text-crimson md:text-left md:text-center md:text-4xl md:font-base">
            Description
        </h2>
        <div class="w-full border-b pb-7">
            <p>Thé noir d'Inde - Récolte du printemps 2021</p>
        </div>
    </div>
    <div class="pt-6">
        <h2 class="w-full pb-3 text-gray-900 text-2xl title-font font-bold text-crimson md:text-left md:text-center md:text-4xl md:font-base">
            Spécificités
        </h2>
        <div class="md:w-3/4 flex border-b pb-7">
            <ul class="flex-1">
                <li class="font-bold">Origine :</li>
                <li class="font-bold text-grey-500">Darjeeling, Inde</li>
            </ul>
            <ul class="flex-1">
                <li class="font-bold">Couleur :</li>
                <li class="font-bold text-grey-500">Thé noir</li>
            </ul>
        </div>
    </div>
    <div class="pt-6">
        <h2 class="w-full pb-3 text-gray-900 text-2xl title-font font-bold text-crimson md:text-left md:text-center md:text-4xl md:font-base">
            Notes de dégustation
        </h2>
        <div class="w-full border-b pb-7">
            <h3 class="mb-5 mt-4  text-green-400 text-crimson text-2xl">
                Feuille sèche
            </h3>
            <p><strong>Aspect :</strong> feuilles torsadées</p>
            <p class="mt-3"><strong>Couleur :</strong> vert clair et vert foncé</p>
            <p class="mt-3"><strong>Parfums :</strong> toasté, fruité</p>

            <h3 class="mb-5 mt-4  text-green-400 text-crimson text-2xl">
                Infusion
            </h3>
            <p class="mt-3"><strong>Parfums :</strong> fruité, floral, végétal</p>

            <h3 class="mb-5 mt-4  text-green-400 text-crimson text-2xl">
                Liqueur
            </h3>
            <p class="mt-3"><strong>Couleur :</strong> dorée</p>
            <p class="mt-3"><strong>Texture en bouche :</strong> onctueuse, finale poudrée</p>
            <p class="mt-3"><strong>Saveur :</strong> acidité avec une subtile amertume</p>
            <p class="mt-3"><strong>Parfums :</strong> amandé, zesté, floral, végétal, brioché</p>
        </div>
    </div>

    <div class="pt-6">
        <h2 class="w-full pb-3 text-gray-900 text-2xl title-font font-bold text-crimson md:text-left md:text-center md:text-4xl md:font-base">
            Suggestion de préparation
        </h2>
        <div class="w-full border-b pb-7">
            <p>Au set à déguster : 3'45 minutes dans une eau à 85°C.</p>
        </div>
    </div>

    <div class="pt-6">
        <div>
            <h2 class="w-full pb-3 text-gray-900 text-2xl title-font font-bold text-crimson md:text-left md:text-center md:text-4xl md:font-base">
                Grand Cru : le goût de l'exceptionnel
            </h2>
            <div class="w-full">
                <p class="italic text-crimson text-2xl text-grey-500">
                    Rares et éphémères, les Grands Crus Palais des Thés naissent de l’alchimie entre une variété de théier, un terroir et le talent d’un artisan-producteur. Issus des jardins les plus réputés, récoltés puis travaillés avec passion, nos Grands Crus affirment des personnalités gustatives uniques, qui dévoilent toute la subtilité de leurs origines.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- End - Fake custom description -->
