<?php
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

declare(strict_types=1);

use Magento\Catalog\Block\Product\View;

/** @var View $block */

$product = $block->getProduct();
?>
<section class="text-gray-700 mb-8 body-font">
    <div class="container mx-auto flex px-0 md:px-5 lg:flex-row flex-col items-center">
        <div class="flex flex-wrap order-first w-full">
            <?= $block->getChildHtml('product.media') ?>
            <?= $block->getChildHtml('product.info') ?>
        </div>
    </div>
    <div class="flex items-center">
        <span class="mr-4">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 1073 1024" fill="#e94625">
                <path d="M2 370q0 156 129 317.5t380 311.5q25 15 51 0 251-150 380-311.5t129-317.5q0-75-29-137.5t-75-102.5-104.5-62.5-117.5-22.5-114.5 23-94.5 68q-38-45-93.5-68t-114.5-23-117.5 22.5-104.5 62-75 102.5-29 138v0zM99 370q0-39 11-74t30.5-60.5 45-46 54.5-31 59-15.5 59.5 0.5 55 17.5 46 34.5 31.5 51.5q12 31 45.5 31t45.5-31q14-38 43.5-63.5t65-34.5 75-7 76.5 20 66.5 45.5 47.5 70 18 92.5q0 124-110 261t-327 271q-146-90-245-183.5t-146-180-47-168.5z"></path>
            </svg>
        </span>
        <span class="text-xs text-grey-200">
            Réf .014A21
        </span>
    </div>
</section>
<section>
    <?= $block->getChildHtml('product_options_wrapper_bottom') ?>
</section>

<?= $block->getChildHtml('product.info.details'); ?>

<section>
    <?= $block->getChildHtml('related') ?>
    <?= $block->getChildHtml('upsell') ?>
    <?= $block->getChildHtml('review_list') ?>
    <?= $block->getChildHtml('review_form') ?>
</section>
