<?php
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

declare(strict_types=1);

use Magento\Catalog\Helper\Data;
use Magento\Framework\Escaper;
use Magento\LayeredNavigation\Block\Navigation\FilterRenderer;

// phpcs:disable Magento2.Templates.ThisInTemplate

/** @var FilterRenderer $block */
/** @var Escaper $escaper */

$catalogHelper = $this->helper(Data::class);

/** @var array $filterItems */
?>
<?php foreach ($filterItems as $filterItem): ?>
    <?php if ($filterItem->getCount() > 0): ?>
        <a href="<?= $escaper->escapeUrl($filterItem->getUrl()) ?>"
           class="flex justify-between py-1 hover:text-black">
            <span><?= /* @noEscape */ $filterItem->getLabel() ?></span>
            <?php if ($catalogHelper->shouldDisplayProductCountOnLayer()): ?>
                <span class="count text-primary">(<?= /* @noEscape */(int)$filterItem->getCount() ?>)</span>
            <?php endif; ?>
        </a>
    <?php else: ?>
        <span class="flex justify-between py-1 hover:text-black">
                <span><?= /* @noEscape */ $filterItem->getLabel() ?></span>
            <?php if ($catalogHelper->shouldDisplayProductCountOnLayer()): ?>
                <span class="count text-primary">(<?= /* @noEscape */ (int)$filterItem->getCount() ?>)</span>
            <?php endif; ?>
        </span>
    <?php endif; ?>
<?php endforeach ?>
