<?php
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

use Hyva\Theme\ViewModel\ReCaptcha;
use Magento\Framework\Escaper;
use Magento\Newsletter\Block\Subscribe;

/** @var Subscribe $block */
/** @var Escaper $escaper */

/** @var ReCaptcha $recaptchaViewModel */
//Do not replace this with $viewModels->require(ReCaptcha::class); that might break the dependency on
//Magento's Recaptcha module
$recaptchaViewModel = $block->getData('viewModelRecaptcha');
$recaptchaInputField = '';
$recaptchaLegalNotice = '';
if ($recaptchaViewModel !== null && $recaptchaData = $recaptchaViewModel->getRecaptchaData('newsletter')) {
    $recaptchaInputField = $block->getBlockHtml($recaptchaData[ReCaptcha::RECAPTCHA_INPUT_FIELD]);
    $recaptchaLegalNotice = $block->getBlockHtml($recaptchaData[ReCaptcha::RECAPTCHA_LEGAL_NOTICE_BLOCK]);
}
?>
<div class="mt-8 md:mt-0 md:pl-6 w-full">
    <form class="form subscribe"
          action="<?= $escaper->escapeUrl($block->getFormActionUrl()) ?>"
          method="post"
          x-data="initNewsletterForm()"
          @submit.prevent="submitForm()"
          id="newsletter-validate-detail">
        <div class="mb-3 text-sm font-medium tracking-widest text-gray-900 uppercase title-font sr-only">
            <?= $escaper->escapeHtml(__('Newsletter')) ?>
        </div>
        <div class="lg:flex lg:items-center">
            <!-- Baseline -->
            <p class="text-green-400 text-base text-center lg:text-right mr-6" style="font-size: 15px;">
                <?= __("Tenez-vous informé(e) de l'actualité et des événements de Palais des<br />Thés en vous abonnant à notre newsletter") ?>
            </p>
            <div class="mr-4 hidden lg:block">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 1024 1024" fill="#546a2a">
                    <path d="M0 146q41 1 256 1h731v1q1 1 1 3.5t-0.5 6.5l-0.5 4v714l-1 1h-979.5t-6.5 1v-732zM118 215l59 59q13 13 27 26 1 2 4.5 5.5l10.5 10.5q27 26 53 53 2 1 16 15l29 30q14 13 41 40t41 40q6 7 14.5 15l17 16t14.5 15q2 2 7.5 8t9.5 9.5 8 6.5q17 10 32 7 12-3 17-6 2-1 3.5-2t3.5-3l9-9q2-2 7.5-7t7.5-8q11-11 33-32.5t33-32.5q9-9 26-25.5t21-20.5l48-48q9-8 10-9l42-42q17-17 19-18 14-15 28-29 11-10 32-31.5t33-32.5h-757zM69 264v497l60-60q62-63 124-125l60-60q5-4 5-6l-44-44q-2-1-4-3t-3.5-4-4-4-3.5-4l-28-27q-13-14-39.5-40t-39.5-39q-10-9-28.5-27.5t-27.5-28.5l-25-25h-2zM918 269q-1 2-2.5 3l-4.5 3-85 85q-5 5-11.5 11t-13 12.5l-11.5 11.5q-24 24-26 25-14 14-27 28-3 3-6 5.5t-7 6.5-5 6q-5 4-10.5 9.5l-20.5 20.5q-2 2-6 5.5t-5 5.5q-5 5-5 7 2 1 5.5 5t5.5 6l178 178t18 18.5 16 16.5l23 22v-491zM118 810l752-1-184-184q-8-8-23.5-24t-23.5-23l-11-12q-1 0-1-1-3-3-6-3-13 13-26 25-27 28-44 38-7 4-31 11-15 4-27 2h-11q-2-1-8-1.5t-10-1.5q-9-4-16.5-7t-13.5-7q-2-1-3.5-2l-3-2t-3.5-2.5-3-2.5l-6-6t-3-2.5-3-2.5-2.5-3-2.5-3q-3-2-6-5.5t-6.5-6.5-6.5-5q-1-2-3.5-4.5t-4.5-5-4-3.5q-5-5-7-5l-248 248v2z"></path>
                </svg>
            </div>
            <!-- Form -->
            <div class="mt-4 lg:mt-0 flex flex-1 relative">
                <label for="newsletter-subscribe" class="sr-only">
                    <?= $escaper->escapeHtml(__('Email Address')) ?>
                </label>
                <input name="email"
                       type="email"
                       required
                       id="newsletter-subscribe"
                       class="form-input inline-flex w-full border-0 shadow"
                       placeholder="<?= $escaper->escapeHtmlAttr(__('Enter your email address')) ?>"
                       style="height: 48px;">
                <?= $block->getBlockHtml('formkey') ?>
                <button class="absolute right-0 px-4 btn btn-primary bg-white text-green-400 border-l z-2" style="height: 48px;">
                    <?= $escaper->escapeHtml(__('Ok')) ?>
                </button>
                <?= /** @noEscape */ $recaptchaInputField ?>
            </div>
            <div>
                <template x-if="displayErrorMessage">
                    <p class="flex items-center text-red">
                    <span class="inline-block w-8 h-8 mr-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                        </svg>
                    </span>
                        <template x-for="errorMessage in errorMessages">
                            <span x-html="errorMessage"></span>
                        </template>
                    </p>
                </template>
            </div>
        </div>
    </form>
    <div class="w-full">
    <?= /** @noEscape */ $recaptchaLegalNotice ?>
    </div>
    <script>
        function initNewsletterForm() {
            return {
                errors: 0,
                hasCaptchaToken: 0,
                displayErrorMessage: false,
                errorMessages: [],
                setErrorMessages(messages) {
                    this.errorMessages = [messages]
                    this.displayErrorMessage = this.errorMessages.length
                },
                submitForm() {
                    var $form = document.querySelector('#newsletter-validate-detail');
                    <?= $block->getChildHtml('recaptcha_validation_newsletter'); ?>

                    if (this.errors === 0) {
                        $form.submit();
                    }
                }
            }
        }
    </script>
</div>
